{% extends 'main.html' %}
{% block content %}
    <div class="container-students">
        <h1>Student Profile</h1>
        <div class="profile">
            <div class="profile-picture">
                {% if student[9] %}
                <img style="width: 400px; height: 450px;" src="{{ url_for('static', filename='/images/' + student[9]) }}" alt="Profile Picture">
                {% else %}
                <lord-icon
                    src="https://cdn.lordicon.com/gmtgcjnx.json"
                    trigger="hover"
                    colors="primary:#4be1ec,secondary:#cb5eee"
                    style="width:250px;height:250px">
                </lord-icon>
                {% endif %}
            </div>
            <div class="profile-details">
                <p><strong>Student ID:</strong> {{ student[0] }}</p>
                <p><strong>Name:</strong> {{ student[1] }} {{ student[2]}}</p>
                <p><strong>Date of Birth:</strong> {{ student[3]}}</p>
                <p><strong>Gender:</strong> {{ student[4] }}</p>
                <p><strong>Email:</strong> {{ student[5] }}</p>
                <p><strong>Phone Number:</strong> {{ student[6] }}</p>
                <p><strong>Address:</strong> {{ student[7] }}</p>
                <p><strong>Enrollment Date:</strong> {{ student[8] }}</p>
                <!-- Add other relevant student details here -->
            </div>
        </div>
        <br>
        <button><a href="{{ url_for('delete_student', student_id=student[0]) }}">Delete Student</a></button>
        <br>
        <button><a href="{{ url_for('index') }}">View Students</a></button>
    </div>
{% endblock content %}
